*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1, 5;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
.tabs {
  max-width: 600px;
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 20px;
}
.control-item {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  border: 3px solid rgb(143, 9, 9);
  color: black;
  font-weight: 500;
  text-decoration: none;
  border-radius: 60%;
}
.control-item--active {
  background-color: palevioletred;
  border-color: blueviolet;
  box-shadow: 12px 10px 3px -1px rgba(241, 8, 241, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.control__item:not(:last-child) {
  margin-right: 4px;
}
.pane {
  display: none;
  padding: 15px;
  margin-top: 40px;
  background-color: rgb(137, 230, 225);
  box-shadow: 20px 22px 10px -1px rgba(235, 88, 215, 0.2),
    0px 1px 1px 0px rgba(223, 208, 10, 0.14),
    0px 1px 3px 0px rgba(18, 169, 189, 0.12);
  animation: fadeEffect 500 ms;
}
.pane--active {
  display: block;
}
.pane__fruit {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}
.pane__text {
  margin-bottom: 0;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: rgb(17, 68, 8);
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
